<!-- NG-ZORRO -->
<ul nz-menu [nzMode]="'horizontal'">
  <li nz-menu-item><i nz-icon nzType="user" nzTheme="outline"></i> Cliente</li>
  <li nz-menu-item><i nz-icon nzType="unordered-list" nzTheme="outline"></i> Orden</li>
  <li nz-menu-item><i nz-icon nzType="appstore" nzTheme="outline"></i> Articulo</li>
</ul>
<!--<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a>-->